<h3 class="pad centre">Trouvez votre Medecin</h3>
<section class="search-sec">
  <div class="container">
    <form>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <input type="text" class="form-control search-slt" placeholder="Nom et Prenom"/>
            </div>
            <div class="col-md-3 ">
              <select  class="form-control search-slt" id="specialte" >
                <option class="hidden" value=""  >specialte</option>
                <option value=" Beja">     specialte1 </option>
                <option value="Ben Arous">   specialte2 </option>
                <option value=" Bizerte">    specialte3 </option>
                <option value="Gabes">  specialte4</option>
              </select>
            </div>
            <div class="col-md-3">
              <select class="form-control search-slt" id="gouvernorat">
                  <option class="hidden" value=""  >gouvernorat</option>
                  <option value=" Beja">      Beja </option>
                  <option value="Ben Arous">   Ben Arous </option>
                  <option value=" Bizerte">    Bizerte </option>
                  <option value="Gabes">   Gabes</option>
                  <option value=" Gafsa">   Gafsa</option>
                  <option value="Jendouba">  Jendouba </option>
                  <option value="Kairouan">  Kairouan </option>
                  <option value="Kasserine"> Kasserine </option>
                  <option value="Kebili">Kebili  </option>
                  <option value="La Manouba"> La Manouba  </option>
                  <option value="Le Kef">   Le Kef  </option>
                  <option value="Mahdia">   Mahdia  </option>
                  <option value="Médenine"> Médenine </option>
                  <option value="Monastir"> Monastir </option>
                  <option value="Nabeul">  Nabeul </option>
                  <option value="Sfax">   Sfax </option>
                  <option value=" Sidi Bouzid">  Sidi Bouzid </option>
                  <option value="Siliana">    Siliana </option>
                  <option value="Sousse">  Sousse </option>
                  <option value="Tataouine">  Tataouine </option>
                  <option value="Tozeur">   Tozeur </option>
                  <option value="Tunis">   Tunis </option>
                  <option value="Zaghouan">  Zaghouan </option>
                </select>

            </div>
            <div class="col-md-3">
              <button type="button" class="btn wrn-btn">Search</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>


