<app-navbar></app-navbar>

<section class="pad">
  <div class="container-fluid register ">

    <div class="row">

      <div class="col-md-3 register-left">
      </div>

      <div class="col-md-9 register-right">

        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link " id="home-tab" data-toggle="tab" routerLink="/formulairemedecin" role="tab" aria-controls="home" aria-selected="true">Medecin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="profile-tab" data-toggle="tab" routerLink="/formulairepatient" role="tab" aria-controls="profile" aria-selected="false">Patient</a>
          </li>
        </ul>

<div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  <h3  class="register-heading">Patient</h3>
  <form >
    <div class="row register-form">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Nom *" value="" name="Nom" required />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Prenom *" value="" name="Prenom" required />
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email *" value="" name="email" required />
        </div>
        <div class="form-group">
          <input type="text" maxlength="8" minlength="8" class="form-control" placeholder="Telephone *" value="" name="telephone" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Mot de passe *" value="" name="password1" required />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirm Password *" value="" name="confirmpassword1" required />
        </div>
        <div class="form-group">
          <select class="form-control" required >
            <option class="hidden" value=""  >Please select your Contry</option>
            <option value=" Beja">      Beja </option>
            <option value="Ben Arous">   Ben Arous </option>
            <option value=" Bizerte">    Bizerte </option>
            <option value="Gabes">   Gabes</option>
            <option value=" Gafsa">   Gafsa</option>
            <option value="Jendouba">  Jendouba </option>
            <option value="Kairouan">  Kairouan </option>
            <option value="Kasserine"> Kasserine </option>
            <option value="Kebili">Kebili  </option>
            <option value="La Manouba"> La Manouba  </option>
            <option value="Le Kef">   Le Kef  </option>
            <option value="Mahdia">   Mahdia  </option>
            <option value="Médenine"> Médenine </option>
            <option value="Monastir"> Monastir </option>
            <option value="Nabeul">  Nabeul </option>
            <option value="Sfax">   Sfax </option>
            <option value=" Sidi Bouzid">  Sidi Bouzid </option>
            <option value="Siliana">    Siliana </option>
            <option value="Sousse">  Sousse </option>
            <option value="Tataouine">  Tataouine </option>
            <option value="Tozeur">   Tozeur </option>
            <option value="Tunis">   Tunis </option>
            <option value="Zaghouan">  Zaghouan </option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Num CIN *" value="" name="cin" required />
        </div>
        <div class="form-group">
          <input type="text" maxlength="8" minlength="8" class="form-control"  placeholder="Code CNAM *" value="" name="cnam" required  />
        </div>
        <div class="form-group">
          <input type="date" value="2018-07-22"
                 min="2018-01-01" max="2018-12-31" class="form-control" placeholder="Date naissance *" value="" name="Datenaissance" required />
        </div>

        <div class="form-group">
          <input type="submit" class="btnRegister"  value="Register">
          <a ><button type="button" class="btnRegister" routerLink="/accueil" >Login</button></a>
        </div>
      </div>
    </div>
  </form>
</div>
      </div>
    </div>
  </div>
</section>
