<section class="about-sec parallax-section" id="about">

  <div class="row">
    <div class="col-md-3">
      <h2><small>Qui Sommes</small>Nous ?<br>
        Tbibi</h2>
    </div>

    <div class="col-md-4">
      <p>Ce qui serait plus penible pour un malade avec son etat de fatigue et de vulnerabilite, n'est pas la maladie en soi, mais le fait de devoir chercher un medecin et fixer un rendez-vous adequat. </p>
      <p>Afin d’eviter tous ces problemes, notre projet Tbibi offre une plateforme qui diminue les distances entre le patient et son médecin.</p>
    </div>

    <div class="col-md-4">
      <p> cette plateforme offre à chaque patient la possibilite de chercher un mdecin selon plusieurs criteres. Ensuite, elle lui permet de prendre un rendez-vous facilement.  </p>
      <p>De plus, elle suit le patient durant son parcours médical grace a son dossier medical numerique. En effet, notre plateforme rassemble toutes les informations medicales detenues par les medecins spécialistes que le patient avait consultes, les laboratoires de biologie, les etablissements de sante dans lesquels il a sejourne.  Elle permet aussi aux professionnels de santé autorises d’acceder aux informations utiles à la prise en charge du patient. Encore, elle permet au patient de prevoir sa maladie en donnant les symptomes a travers un systeme intelligent</p>
    </div>

  </div>

</section>

